<!DOCTYPE html>

<html lang="en">

<head>

  <link href="/bootstrap.css" rel="stylesheet">
  <title>About Us</title>
  
  <style>
  {  
  
    body
     {
      text-align: left;
      background: url("https://pixabay.com/get/e95aa25a3efa072c7407/1446920831/sky-232000_1920.jpg?direct");
      background-size: cover;
      color: black;
      font-family: arial;
      font-size: 18;
     }
     
    ul
     {
      display: inline;
     }
     
  }
  </style>
  
</head>

<body>

  <header>
    <img src="https://pixabay.com/get/e95aa25a3efa072c7407/1446920831/sky-232000_1920.jpg?direct" width="700" height="150">
    <h1>About Us</h1>
    <ul>
      <li><a href="#">RSVP</a></li>
      <li><a href="#">New Event</a></li>
      <li><a href="#">Browse Events</a></li>
    </ul>
  </header>

  <h2>Story</h2>
  <p>Hi! We are Fragrant Sierra - code ninjas [hence - 'fragrant-ninja'!] who offer you the world's best event organizing app!</p>
  <h2>People</h2>
  <p>
  <ul>
     <div> 
     <li> Shaun </li> 
     <p> <img src="https://pixabay.com/get/fb163c16a9f6f8deb3d5/1446889335/ninja-149435_1280.png?direct" width="90" height="120" padding:25 class="img-rounded"> </p>
     </div>
     <div> 
     <li> Matthew </li>
     <p> <img src="https://pixabay.com/get/e3e51fb5303d761708dc/1446918658/ninja-149287_1280.png?direct" width="120" height="120" padding:25 class="img-rounded"> </p>
     </div>
     <div> 
     <li> Lily </li>
     <p> <img src="https://pixabay.com/get/da0c8971aec628475c47/1446918728/ninja-1015494_1920.jpg?direct" width="120" height="120" padding:25 class="img-rounded"> </p>
     </div>
     <div> 
     <li> Arjit </li>
     <p> <img src="https://pixabay.com/get/00d2c32fecd73e894d72/1446918786/warrior-149098_1280.png?direct" width="120" height="90" padding:25 class="img-rounded"> </p>
     </div>
  </ul>
  </p>

</body>

</html>
