{% extends "layout.html" %}

{% block mainContent %}


  <span id = friendly-dog-name>
    <h1>Jonathan Rhodes</h1>
    <img id = "friendly-dog-headshot" src="/pictures/jonathan.jpg" style="width:220px;height:300px;">
  </span>

  <span id = jumping-cat-name>
    <h2>Taishi Nojima</h2>
    <img id = "jumping-cat-headshot" src="/pictures/taishi.jpg" style="width:240px;height:300px;">
  </span>
  
  <span id = lively-rabbit-name>
    <h3>Emily Chen</h3> 
    <img id = "lively-rabbit-headshot" src="/pictures/emily.jpg" style="width:240px;height:300px;">
  </span>
    
  <span id = jittery-tiger-name>
    <h4>Robert Martin</h4>
    <img id = "jittery-tiger-headshot" src="/pictures/rob.jpg" style="width:240px;height:300px;">
  </span>


  <span id="twilight-wildflower"></span>

{% endblock %}
