{% extends "layout.html" %}

{% block mainContent %}


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Questions?  Comments? <span class="text-muted">Did we goof?</span></h2>
          <p class="lead">Much of this site is a learning experince for <a href="/about">Our Team</a>.  We readily accept any and all feedback that you might be able to give!  Hit us up on the <a href="/about">about page</a> or send us a snail-mail message to: MGT 656 c/o Daniel Kent PO Box 208200 New Haven, CT 06520-8200</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-thumbnail" src="http://i.imgur.com/LoymsN0.jpg" alt="If we play our cards right... we'll be sitting in the front one day..." >
        </div>
      </div>




{% endblock %}