{% extends "layout.html" %}

{% block mainContent %}
<h1>{{ title }} CREATE A NEW EVENT </h1>
  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

	<form id="create-event" method="POST">
    <label for="title">Event title:</label>
    <input type="text" name="title">
    
    <br>
     <label for="location">Event location:</label>
    <input type="text" name="location">

    <br>
     <label for="image">Event image:</label>
    <input type="text" name="image">
   
   <br> 
     <label for="year">Event year:</label>
    <input type="text" name="year">
  
    <br>
     <label for="month">Event month:</label>
    <input type="text" name="month">
    
    <br>
     <label for="day">Event day:</label>
    <input type="text" name="day">
    
    <br>
     <label for="hour">Event hour:</label>
    <input type="text" name="hour">
    
    <br>
     <label for="minute">Event minute:</label>
    <input type="text" name="minute">
    
    <br>
    <br>
    <input type = "submit">
    <!-- title, location, image, year, month, day, hour, and minute-->
  </form>
{% endblock %}


