{% extends "layout.html" %}
 
 
 {% block stylesheet%}
    <link rel='stylesheet' href='/stylesheets/style.css' />
{% endblock %}
{% block header %}
  <header>
    <h1> MGT 656 Management of Software Development </h1>
    <h2> Project Status Report // Thursday, October 27, 2016 </h2>
    <h3> Outer Nova </h3>
  </header>
{% endblock %}
    
{% block mainContent %}

<ul>
    <li>
        David T Sanchez: david.topiltzin@yale.edu
    </li>
    <li>
        Ruan Hsuan Wei : hsuanwei.ruan@yale.edu
    </li>
      <li> Lixing Liang: lixing.liang@yale.edu</li>
    <li>
        Stephanie Hickman: stephanie.hickman@yale.edu
    </li>
</ul>

<h1>Sprint 3 Documentation</h1>
<h3> Burn Down Chart </h3>
<!-- INSERT IMAGE HERE -->
<h3>Completed Stories in this Sprint(in priority order)</h3>
    <ul>
        <!-- start entering completed stories here <li></li> -->
    </ul>
    <!-- some description here about adding stories <p></p> -->
<h3> Current Backlog in Order </h3>
    <ul>
        <!-- any remaining stories (design, etc) -->
    </ul>
    
<h3> What to Expect in the Next Delivery </h3>
    <ul>
        <li>Passing Tests (Makes up several stories)</li>
        <li>Formatting (make it look pretty)</li>
    </ul>
    
<p>We hope to focus on passing tests in our next sprint, and hopefully make the site look prettier</p>

<h1>Sprint2 Documentation</h1>
<h3> Burn Down Chart </h3>
<img src='/pictures/BurnDownChartSprint2.png' height=400px width=600px>
<h3> Completed Stories in this Sprint(in priority order)</h3>
    <ul>
        <li> Title </li>
        <li> /About vision </li>
        <li> /About mission </li>
        <li> /About Meet the team</li>
        <li> Add Bootstrap </li>
        <li> /index teamLogo </li>
        <li> /Homepage sample event </li>
        <li> /About Team member David </li>
        <li> /About Team member Shervyna </li>
        <li> /About Team member Leo </li>
        <li> /About Team member Stephanie </li>
    </ul>
    <p> After doing some sprint planning we finally were able to execute the first stories of our project. We decided to first get the whole structure of the project and after start adding style to it. We started by doing the most simple task and expect to start performing the more complex task in the following sprints.   </p>
<h3> Current Backlog in Order </h3>
       <ul>
        <li> search button</li>
        <li> about button</li>
        <li> home button</li>
        <li> /Events/new new events</li>
        <li> /Events/new event name</li>
        <li> /Events/new location</li>
        <li> /Events/new image</li>
        <li> /Events/new year</li>
        <li> /Events/new date</li>
        <li> /Events/event# display info</li>
        <li> /Events/event# RSVP with your email</li>
        <li> /confirmation you have been confirmed</li>
        <li> /confirmation the following people have been confirmed</li>
        <li> /confirmation display names</li>
        <li> /api/events for searching/grading</li>
        <li> /api/events id,title,location</li>
    </ul>
<h3> What to Expect in the Next Delivery </h3>
<ul>
        <li> search button</li>
        <li> about button</li>
        <li> home button</li>
        <li> /Events/new new events</li>
        <li> /Events/new event name</li>
        <li> /Events/new location</li>
        <li> /Events/new image</li>
        <li> /Events/new year</li>
        <li> /Events/new date</li>
        <li> /Events/event# display info</li>
        <li> /Events/event# RSVP with your email</li>
    </ul>
<p> For the next delivery we plan to almost finish the project and start adding style to it. </p>

{% endblock  %}