<h1> MGT 656 Management of Software Development </h1>
<h2> Project Status Report // Thursday, October 27, 2016 </h2>
<h3> Outer Nova </h3>
<ul>
    <li>
        David T Sanchez: david.topiltzin@yale.edu
    </li>
    <li>
        Ruan Hsuan Wei : hsuanwei.ruan@yale.edu
    </li>
        Lixing Liang: lixing.liang@yale.edu
    <li>
        Stephanie Hickman: stephanie.hickman@yale.edu
    </li>
</ul>
<h3> Burn Down Chart </h3>
<img src='/pictures/BurnDownChartSprint2.png' height=350px width=450px>
<h3> Completed Stories in this Sprint </h3>
<p> </p>
<h3> Current Backlog in Order </h3>
<p> </p>
<h3> What to Expect in the Next Delivery </h3>
<p> </p>