{% extends "layout.html" %}

{% block header %}
  <header>
    <h1 class="text-warning"><strong>Thank you for donating!</strong></h1>
  </header>
{% endblock %}

{% block mainContent %}

{% endblock %}

{% block footer %}
  <footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Powerful Meadow</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About us</a></li> 
          </ul>
        </div>
      </div>
    </nav>
  </footer>
{% endblock %}