{% extends "layout.html" %}
{% block mainContent %}

<div class="container home">
        <h1 style="color:black">Support our events by donating</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-addon">.00</span>
                </div>
            </div></div><br>
            <div class="row">
                <a href="/donate/thankyou" id="donate" class="btn btn-primary btn-lg">Donate</a>
            </div>
        
</div>
    {% endblock %}