{% extends "layout.html" %}

{% block mainContent %}

<h1 id="title"> {{ event.title }} </h1>
<span id="date"> {{ event.date }} </span>
<span id="location"> {{ event.location }} </span>
<img id="image" src="/images/yale_college_logo.png">
<ul id="attendees">
<div>
{{ event.attending }}
</div>
</ul>

<form action="{{ '/events/' + event.id + '/rsvp'}}" method="POST" id="email">
  <label for="email">RSVP to this event:</label>
  <input type="email" name="email">
  <input type="submit" value="Submit">
</form>




{% endblock %}
