{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Events</h1>
    <h2>Look at all these options!!! Decisions, Decisions...</h2>
  </header>
{% endblock %}

{% block mainContent %}
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <div>
    <a href="/events/new">Create a new event</a>
  </div>

{% endblock %}

  {% block footer %}
  <footer>
   The time is now {{time}}... when will you be at your next event?!
    <a href="/about">About Team Young Frost</a>.
    <a href="/">Take me home!</a>
  </footer>
{% endblock %}