{% extends "layout.html" %}

{% block mainContent %}
<head>
<style>
    body {
            text-align: center;
            background-image: url("/images/events.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
</style>
</head>

  <div class="Street">
  <div class="homecontainer">
    {% include "fragments/events-list.html" %}
  </div>
  <div>
     <a href="/events/new" id="new">
              <button type="button" class="btn btn-lg btn-warning">+ Create a new event</button>
            </a>
  </div>
  </div>
{% endblock %}