{% extends "layout.html" %}

{% block mainContent %}
  <h3 class="text-center"><u>Upcoming Events</u></h3>
  <div style="border: 1px solid black">
    {% include "fragments/events-list.html" %}
  </div>
  <div>
    <button type="button" class="btn btn-default btn-lg">
    <span href="/events/new" class="glyphicon glyphicon-send" aria-hidden="true"></span> Create a new event
    </button>
    <a href="/events/new">Create a new event</a>
  </div>

{% endblock %}

{% block footer %}
  <footer>
    Look at me customize the footer. The time is now {{time}}.
    <a href="/about">About us</a>.
  </footer>
{% endblock %}
