{% extends "layout.html" %}

{% block mainContent %}

<h1> FAQs</h1>

<h2>What's this site about?</h2>

<p>This is a website developed for our class, <a href="https://mgt656.som.yale.edu/">Management 656: Managing Software Development</a> at the <a href="http://som.yale.edu/">Yale School of Management</a>.  The parameters of the project are to create an RSVP site that is interactive and allows users to create events and RSVP to events.</p>

<h2>Who developed this site?</h2>
<p>You should check out our <a href="/about">About Page</a>.</p>

<h2>What was the process for developing this site?</h2>
<p>We employed an agile scrum development process to develop this site.  You can watch our progress at <a href="https://www.pivotaltracker.com/n/projects/1460808">Our Pivotal Tracker Site</a>.</p>

<h2>Who designed that awesome logo?</h2>
<p>We did! ^_^  Leveraging our savvy PowerPoint skills we created an object with a bunch of polygons.</p>

<h2>I'm a huge fan of legalese.  Do you have any that I can read?</h2>
<p>Haha don't worry, we've got you covered <a href="/terms">here</a>.</p>

<h2>Why "Still Snowflake?"</h2>
<p>Yeah, we don't know either.  Some algorithm named us and like all good humans, we, for one, welcome our new computer overlords.</p>

<h2>This is so freakin' cool, I want to create my own!  How do I go about this?</h2>
<p>Well, you're in luck!  Check out our <a href="https://github.com/still-snowflakers/mgt656-spring-2015-project">Github Page</a></p>

<h2>I like pressing on links.  Can I press on a link?</h2>
<p>Yeah, go ahead: <a href="/faq">run wild!</a></p>

{% endblock %}