<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Spring-giant Final Report</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Spring-Giant Team | Project Status Final Report | December 11, 2015</h1>
            <h2 style="text-align: center; font-size: 20px">Jeff McHugh (jeff.mchugh@yale.edu) | Megha Ghildyal (megha.ghildyal@yale.edu) | Lea Lupkin (lea.lupkin@yale.edu) | Jared MacLane (jared.maclane@yale.edu)</h2>
            <h4>Quick Evently Snapshot:</h4>
            <p> Our team is creating a website that is an affordable alternative to Eventbrite. The site allows users to create new events and post them to the site. It also allows users to view upcoming events and RSVP to those that interest them, provided they have a Yale e-mail address. We launched our website on Yale’s campus and different Yale schools are using it. We analyzed the traffic through google analytics and are now conducting A/B test to improve certain features. <br><br>
            <h4>Project Maintenance:</h4>
            <p>
              <ul>
                <li>Continue checking Google Analytics to understand audience, referral, page visits, and more.</li>
                <li>Improve graphics on all pages to increase number of views</li>
                <li>Keep populating new events on the events page and make sure that the browse events page/ events listing on landing page is never empty</li>
                <li>Make sure that all changes to the website are pushed by one person to herokuapp</li>
                <li>Keep running gulp in a separate terminal on cloud9 to test changes before pushing to heroku</li>
                <li>Pay cloud9/ heroku fee (if necessary) to keep the app running!</li>
              </ul>
            </p>
            <h4>New Features to Consider Building into the Site:</h4>
            <p>
              <ul>
                <li>Build separate pages that a) give user detailed contact information of team, b) lets them learn more about the website and its features, c) search for events by city and date, d) categorize events into different buckets by event type, e) give users more information on pricing, security etc.</li>
                <li>Let organizer of each event put in his own contact details and bio</li>
                <li>Let people add tags to events</li>
                <li>Incorporate google maps to show users event locations</li>
                <li>Build in a payments and donation feature as well</li>
                <li>Get sponsors on the website!</li>
              </ul>
            </p>
            <br>
            <h4>Project Analytics</h4>
            
                  <b>Traffic Funnel for week Nov 30-Dec 6, via Google Analytics</b><br><img src="/images/f1.PNG"></img><br>
                  <i>We’re seeing much more activity on our website this week, however still very little traffic to the donation page.</i><br><br>
                  <b>Traffic Referrals for Nov 10-Dec 10, via Google Analytics</b><br><img src="/images/f2.png"></img><br>
                  <i>What this means: Most visitors to Evently are referred by SOM (55%), the second most are from the general yale search (30%), third from Medicine (10.2%), and fourth from Law (4.7%).</i><br><br>
                  <h4>Features Testing</h4><br>
                  <b>A/B Test for whether including the text “RSVP” on homepage increases click-through rates to Event Detail pages</b><br>
                  <img src="/images/f3.PNG"></img><br>
                  <i>What this means: Including “RSVP” next events on the homepage appears to be increasing the conversion rate to the event detail pages, however these are only preliminary results. The “RSVP” variation is showing a 10.4% conversion rate compared to 8.6% without. The development team recommends the clients check the experiment again on Google Analytics in another week or two to discover the final conclusion.</i><br><br>
                  <b>A/B Test for whether “Donate Here” or “Support this event” on event details pages increases click-through rates to Donation page</b><br>
                  <img src="images/f4.PNG"></img><br>
                  <i>What this means: “Donate Here” is showing more promise than “Support this event”, however with so few session and conversions it is too soon to reach a solid conclusion. The development team recommends the clients check the experiment again on Google Analytics in another week or two to discover the final conclusion.</i><br><br>
                  
                  </p>
      </div>
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>