<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Sprint Report - Dry Blessing</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <div class="row" style="margin-top: 10px; text-align: right;">
      <ul>
        <li style="margin-bottom:0"><a href="mailto:Karen.RamirezEstrada@yale.edu">Karen Ramirez-Estrada</a></li>
        <li style="margin-bottom:0"><a href="mailto:Mezyad.AlMasoud@yale.edu">Mezyad AlMasoud</a></li>
        <li style="margin-bottom:0"><a href="mailto:shadin.cornelioa@yale.edu">Shadin Cornelio</a></li>
        <li style="margin-bottom:0"><a href="mailto:susana.arriaga@yale.edu">Susana Arriaga</a></li>
      </ul>

    </div>
    <div class="row" style="text-align: center">
      <h1>MGT 656 Dry Blessing Coding Team</h1>
      <h2>Final Report</h2>
      <h3>December 11, 2015</h3>

    </div>
    <div class="row">
      <p>Link to live working project on Heroku: <a href="http://mgt-656-dry-blessing.herokuapp.com" target="_blank">RSVPd</a>
        <br>Link to Waffle IO: <a href="https://waffle.io/dry-blessing/mgt656-spring-2015-project" target="_blank">Dry Blessing issues</a></p>
    </div>
    <div class="row">
      <b style="text-decoration:underline">Executive Summary</b>
      <br>
      <p>RSVPd is an excellent event platform that brings all events planning to live as soon as the post hit online! The users can create their own events, RSVP using their Yale email addresses and browse through several future events. We worked hard to make the visualization of the website so compelling to grasp all visitors and their surrounding audience attention. We conducted several experiments to find out which of the available options and ideas are the most compelling and attractive to customers. The website is supported with a robust coding that passes all quality tests of any high end similar event planning platform. The following points are some of the key characterizes that we believe make Eventbrite a [horrible] platform compared to us:</p>
      <ol>
        <li>An integrated and highly motivated team is behind RSVPd website.</li>
        <li>We created some mockups using Balsamiq to visualize the most captivating theme that attract more users.</li>
        <li>We went through multiple scenarios that caused our website to crash and this opened up opportunities to track those issues and make sure they do not occur again in the future.</li>
        <li>Less than a month passed since we launched our website, but we started receiving more than 8k of traffic from Yale Law, Yale School of Management, and Yale search.</li>
        <li>We are innovative in terms of attracting other source of income from our website for any visitor who enjoy our website and wants to contribute in a form of donation or support.</li>
        <li>The website is simplified more than Eventbrite while reengineered to achieve more with less required steps. In other words more users friendly.</li>
        <p>From the team’s diversified background with excellent IT strategic plan to strong-implemented infrastructure, we will provide an excellent event planning services that not only will surpass all of our competitors services but also will create a long lasting fascination to all users to bring them back.</p>
        
      </ol>
    </div>
    <div class="row">
      <b style="text-decoration:underline">Google Analytics summary</b>
      <br>
      <p>The traffic of our website is 98% referral and the three major sources of traffic are Yale Law School, Yale School of Management and Yale search. The share of the sources can be seen in the following table and chart;</p>
      <img src="/images/sources-traffic.png" style="width:500px">
      <p>From the 8700 people that come into our webpage only 6.35% stay and continue to one of our other pages. The pages where the traffic continues are:
</p>
      <ol>
        <li>Event 1</li>
        <li>Event 2</li>
        <li>Event 0</li>
        <li>Event 5</li>
        <li>Others</li>
      </ol>
      <p>Out of this 6.35% only 12% continue from which the only pages that continues to the donation page are Event 1 and Event 0. The page that keeps and converts more traffic is the Events page because 90% of the traffic continues to another of the following;
    </p>
    <ol>
        <li>New Event</li>
        <li>About</li>
        <li>Index</li>
        <li>Others</li>
      </ol>
      <p>Out of the traffic that stays in transit 79% continues and the principal pages where it goes are Events and Index. All of this can be seen in the next image.
    </p>
    <img src="/images/flow.png" style="width:500px">
    <p>The first variation that we tested was if the word “RSVP” placed on the event box would increase the click-through rate in comparison with not having this word. Our original version is without the “RSVP” word and our Variation 1 is with the “RSVP” word as shown in the following pictures
    </p>
    <br>
    <p>Original:</p>
    <img src="/images/withoutrsvp.png" style="width:500px">
    <p>Version 1:</p>
    <img src="/images/RSVP.png" style="width:500px">
    <p>For this test we can say that our having the “RSVP” word increases the click-through rate by 1.94% and has a 50% probability of outperforming our Original.</p>
   <img src="/images/RSVP-test.png" style="width:500px">
   <p>The second variation that we tested was the preference of our traffic for donating vs supporting an event. On the detail of the events, our Original version had a button that said “Support this event” and “Donate to this event” for our Variation 1 as it can be seen in the following images: 
    </p>
    <p>Original:</p>
    <img src="/images/support.png" style="width:500px">
    <p>Version 1:</p>
    <img src="/images/donate.png" style="width:500px">
    <p>For this test we don’t have enough information to come to come to a conclusion because the Donate version has a lower click-through rate but a slightly higher probability of outperforming the Support version as it can be seen in the next image:</p>
    <img src="/images/donate-vs-support.png" style="width:500px">
    </div>
    
   
    
    <div class="row" style="margin-top: 25px">
      <b style="text-decoration:underline"> Retrospective </b><br>
 
<p>During the overall project, the team has grew by overcoming different challenges at different stages of the project. Besides, we were able to understand and respect everyone’s role into the project and create a webpage which we are very proud of. The thing that worked the best is dividing the labor and then putting it together using the tools we learned during the course. The best things we accomplish were:
<ul>

<li>Finish all the stories on time</li>

<li>Tasks aligned to an specific objective</li>

<li>Motivation among team members</li>

<li>Attend to regular meetings and keep track of the tasks</li>

<li>Help each other during the entire projects</li>

<li>Learn by ourselves and by our team members</li>

</ul>

<p>During the process of learning we have to deal with some difficulties when we lost too much time looking for a coding solution on our own, which eventually led to the mis-completion of tasks for a particular sprint. However, we learn about this experience so every time we faced difficulties we discuss as a team and if we weren’t able to find a solution, we asked the TA’s. </p>

<p>In general, we believe that this project helped us not only to develop team skills but to learn methodologies to develop efficient projects. It was an interesting and new experience for us and we mainly learn that software projects need to be planned, although sometimes stories don’t work according the project plan. Therefore, software managers need to act in real time and find a solution as fast as possible, otherwise the project might be affected. Besides, managers and developers need to be patient and keep in mind the main goal and the time planned. All these experiences have teach us the value of planning, a good team and mostly have a good methodology to follow during the entire project. </p>

</div>



  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
