{% extends "layout.html" %}
<img id="logo" src="http://i.imgur.com/TEpG0ur.png"/>
<a href="#" class="btn btn-lg btn-default">Learn more</a>
{% block header %}
{% endblock %}
{% block mainContent %}
  <p>
    <span class="title">{{ title }}</span>
  </p>
  <p>
   <center> Welcome to {{ title }}. {{tagline}}</center>
  </p>
  <br>
  <p></p>
  <span class="events"> Events</span> 
  <span><a id="new" href="/events/new" class="createevents">Create a new event</a></span>
  </p>
    <div class="eventscontainer">    
    {% include "fragments/events-list.html" %}
    </div>
{% endblock %}
