{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }}</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>

  <div class="index-logo">
      <img id="logo"src="/pictures/Capture.PNG" height=0>
  </div>

  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  
   <div class="index-event">
    {% include "fragments/index-events-list.html" %}
   </div>
   
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
  
<!--
<div class="outer1">
      <img src='/pictures/Art.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>ART</h1>
      </div>
</div>

<div class="outer2">
      <img src='/pictures/Business.jpg' height=300px width=455px> 

      <div class="Business">
        <h1>Business</h1>
        
      </div>
</div>

<div class="outer3">
     <img src='/pictures/Concert.jpg' height=300px width=455px> 

      <div class="Concert">
        <h1>Concert</h1>
        
      </div>
</div>

<div class="outer4">
      <img src='/pictures/Entrepreneur.jpg' height=300px width=455px> 

      <div class="Entrepreneur">
        <h1>Entrepreneur</h1>
       
      </div>
</div>

<div class="outer5">
      <img src='/pictures/Food.jpg' height=300px width=455px> 

      <div class="Food">
        <h1>Food</h1>
     
      </div>
</div>

<div class="outer6">
      <img src='/pictures/Gaming.jpg' height=300px width=455px> 

      <div class="Gaming">
        <h1>Gaming</h1>
    
      </div>
</div>

<div class="Party">
      <img src='/pictures/Party.jpeg' height=300px width=455px> 

      <div class="Party">
        <h1>Party</h1>
     
      </div>
</div>

<div class="outer8">
      <img src='/pictures/Running.jpg' height=300px width=455px> 

      <div class="Running">
        <h1>Running</h1>
     
      </div>
</div>

<div class="outer9">
      <img src='/pictures/Wood.jpg' height=300px width=455px> 

      <div class="Wood">
        <h1>Wood</h1>
     
      </div>
</div>

-->

<div class="outer1" style="position:relative;">
      <img src='/pictures/Art.jpg' height=300px width=455px> 

      <div class="Art" style="position:absolute;top:10px">
        <h1>ART</h1>
        
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Business.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Business</h1>
        
      </div>
</div>

<div class="outer1">
     <img src='/pictures/Concert.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Concert</h1>
        
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Entrepreneur.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Entrepreneur</h1>
       
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Food.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Food</h1>
     
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Gaming.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Gaming</h1>
    
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Party.jpeg' height=300px width=455px> 

      <div class="Art">
        <h1>Party</h1>
     
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Running.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Running</h1>
     
      </div>
</div>

<div class="outer1">
      <img src='/pictures/Wood.jpg' height=300px width=455px> 

      <div class="Art">
        <h1>Wood</h1>
     
      </div>
</div>


{% endblock %}

