extends layout
block jumbotron
  .jumbotron
    .container
      h1.jumbo-text I thought you were bringing the sandwiches.
      h2.jumbo-text.pad-after
        | No, I thought 
        em you
        |  were!
      h3.jumbo-text.pad-after Know who's bringing what.
      p
        a.btn.btn-lg.btn-default.jumbo-text(href='/events/new', role='button') Plan a better event now →
  
  .row
    .col-lg-6
      h1 A better way to organize events
      p
        | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
      p
        | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
    .col-lg-6
      h1
        a(id="new", href='/events/new') Create an event
        | , join one below or 
        a(href='/events') view all
        | ...
      include fragments/events-list
