<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>

	<body class="container">

    {% block header %}
      <header>
        <h1> "Welcome to EventTite! (Default header)" </h1>
      </header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
        <nav>
          <link> href="/about">About Us</a>
          <link> href="/">Return to Home</a> 
        </nav>
      </footer>
    {% endblock %}

  </body>
</html>