doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap-custom-full.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
  body#bootstrap-override
    block header
      header
        nav
          // TODO: Pad and style this logo out properly once finalized
          img#logo.navbar-brand(src='/images/hm_logo_1.png', height='50')
          ul.nav.pull-right.nav-pills
            li(role='presentation')
              a(href='/') home
            li(role='presentation')
              a(href='/about') about
            li(role='presentation')
              a(href='/events') listings
            li(role='presentation')
              a(href='/api') API
    block jumbotron
    .container
      block mainContent
        section Welcome to #{title}. #{tagline}
      block footer
        footer © 2015 #{title}
