{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Make It So Project Report: Sprint 2</h1>
    <h3>February 11, 2015</h3>
  </header>
  <br>
{% endblock %}

{% block graph %}
<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1jwW482Y7qbWrb4IccSnqKEq1HRZQ26q3TbxC5yuCQTM/pubchart?oid=1888005403&amp;format=image"></iframe>
{% endblock %}

{% block mainContent %}
<p><b>Completed Stories in Sprint 2</b></p>
<ul>
    <li>Research how to run A/B tests</li>
    <li>Add RSVP text to homepage (needs to be A/B test)</li>
    <li>Post RSVP</li>
    <li>Bad email error</li>
    <li>Successful RSVP redirect</li>
    <li>Submit button</li>
    <li>Form structure</li>
    <li>Added form options</li>
    <li>Events that are over are not shown</li>
    <li>RSVP email form</li>
    <li>Add event detail pages</li>
    <li>Add Google Analytics</li>
    <li>Add form attributes</li>
    <li>Add team headshots</li>
    <li>Go to /about and see information about company</li>
    <li>New events form method</li>
    <li>Add Optimizely A/B test script</li>
    <li>Give Sarah & Kelly access to Heroku so we can push code to it</li>
</ul>
{% endblock %}