<!DOCTYPE html>
<html>
    <head>
        <title>Sprint Reports</title>
    </head>
    <body>
    Click Below for our sprint reports
    <ul>
        <li><a href="/reports/1">Sprint Report 1</a></li>
        <li><a href="/reports/2">Sprint Report 2</a></li>
        <li><a href="/reports/3">Sprint Report 3</a></li>
        <li><a href="/reports/4">Sprint Report 4</a></li>
        <li><a href="/reports/5">Sprint Report 5</a></li>
        <li><a href="/reports/6">Sprint Report 6</a></li>
    </ul>
    </body>
</html>