{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Make It So Project Report: Sprint 2</h1>
    <h3>February 11, 2015</h3>
  </header>
  <br>
{% endblock %}

{% block mainContent %}
<p><a href="https://www.flickr.com/photos/122510783@N04/16502568505" title="Sprint 2 Burndown Chart"><img src="https://farm8.staticflickr.com/7289/16502568505_63cf7196c6_z.jpg" width="600" height="371" alt="Sprint 2 Burndown Chart"></a></p>
<br>
<p><b>Completed Stories in Sprint 2</b></p>
<ul>
    <li>Research how to run A/B tests</li>
    <li>Add RSVP text to homepage (needs to be A/B test)</li>
    <li>Post RSVP</li>
    <li>Bad email error</li>
    <li>Successful RSVP redirect</li>
    <li>Submit button</li>
    <li>Form structure</li>
    <li>Added form options</li>
    <li>Events that are over are not shown</li>
    <li>RSVP email form</li>
    <li>Add event detail pages</li>
    <li>Add Google Analytics</li>
    <li>Add form attributes</li>
    <li>Add team headshots</li>
    <li>Go to /about and see information about company</li>
    <li>New events form method</li>
    <li>Add Optimizely A/B test script</li>
    <li>Give Sarah & Kelly access to Heroku so we can push code to it</li>
</ul>
<br>
<p>Our team completed 48 story points in Sprint 2.  We began the sprint with 74 story points remaining, but also added 7 more story points on day 5. We were able to begin tracking traffic to our app using Google Analytics and also began running A/B testing using Optimizely. After 2 days of accepting traffic, the app has tracked 4,100 unique visitors and tested their engagement by adding "RSVP" in front of event listings on the homepage.  Adding "RSVP" increased clickthrough rates from 5% to 8%.  Further results from this first A/B test can be found <a href="http://optimize.ly/~Wxa9Ld?token=22fcdec7f0477e73ffa2#view=2">here</a>.
</p>
<br>
<p><b>Remaining Backlog</b></p>
<ul>
    <li>Unsuccessful new event submit</li>
    <li>Run A/B test on whether to say "donate" or "support"</li>
    <li>Add donation links</li>
    <li>Format footer and header</li>
    <li>Format create new event page</li>
    <li>Format about page</li>
    <li>Format events page</li>
    <li>Format home page</li>
</ul>
{% endblock %}