{% extends "layout.html" %}

  <style>

  </style>

<body>
{% block header %}  
  <header>
    <h1>Rules of Donut Club</h1>
    <ul>
      <li><a href="/events/new">New Event</a></li>
      <li><a href="/events">Browse Events</a></li>
    </ul>
  </header>
{% endblock %}
{% block mainContent %}
 
  <ol>
    <h3><li>Players always buy</li></h3>
    <img id="players" src="https://armchairquarterbacking.files.wordpress.com/2014/01/show-me-the-money.gif">
    <h3><li>Lateness will not be tolerated</li></h3>
    <img id="players" src="https://s-media-cache-ak0.pinimg.com/originals/4e/6c/a6/4e6ca60744c8e8b665574ce4308eef33.gif">
    <h3><li>Do not touch the donuts before the designated time. Do not eat the donuts before the designated time</li></h3>
    <img id="players" src="http://45.media.tumblr.com/77b30e1185cbd12461d8a1f780abe007/tumblr_n9qztyHA7A1tac8l4o3_500.gif">
    <h3><li>Finish the donut</li></h3>
    <img id="players" src="http://data.whicdn.com/images/126709193/large.gif">
    <h3><li>Attendance counts</li></h3>
    <img id="players" src="https://media.giphy.com/media/Xs2ry2K0ADD7G/giphy.gif">
    <h3><li>Once a member of Donut Club, always a member of Donut Club</li></h3>
    <img id="players" src="https://media.giphy.com/media/XuRdMQ4QrDVh6/giphy.gif">
  </ol>

</body>
{% endblock %}