<!DOCTYPE html>
<html>
    <head>
        <title>Sprint 3 Report</title>
    </head>
    <body>
        <ul>
            <li>John Butler (john.s.butler@yale.edu)</li>
            <li>Charlie Coit (charles.coit@yale.edu)</li>
            <li>Elyse Cummins (elyse.cummins@yale.edu)</li>
            <li>Alex Kragie (alex.kragie@yale.edu)</li>
        </ul>
        <h1>Daunting-Wood</h1>
        <h2>Project Status Report 3</h2>
        <h3>November 9, 2015</h3>
        <h4>Project Description: Make a usable clone of Eventbrite to schedule events and manage RSVPs</h4>
        <p>Links</p>
        <ul>
            <li><a href="https://waffle.io/daunting-wood/mgt656-spring-2015-project">Kanban Board</a></li>
            <li><a href="https://mgt-656-daunting-wood.herokuapp.com/">Production URL</a></li>
            <li><a href="/reports">Previous Sprint Reports</a></li>
        </ul>
        <p>Burndown Chart</p>
        <a href="http://i.imgur.com/n9aZ2yd.png"><img src="http://i.imgur.com/n9aZ2yd.png" title="source: imgur.com" height=400/></a>
        <p>Completed User Stories</p>
        <ol>
            <li>Created form for inputting events (13 points)</li>
            <li>Added "Submit" button (2 point)</li>
            <li>Added Names to about page w/ class nickname attributes (2 point)</li>
            <li>Addded headships on about page (1 point)</li>
        </ol>
        <p>This week we met as a team twice to work on user stories together. While some members of the team are able 
        to work on thier own, we find it helpful to work as a group in the early stages of the project until everyone
        feel comfortable enough to work on thier own</p>
        <p> Our first group sprint we developed the input form for events. Our second meeting we attempted to write the
        validation code for that form, but were unable to complete it. We anticipate completing that and the other two 
        in progress user stories before the next report</p>
        <p>Here's a screenshot of our event input form</p>
        <a href="http://imgur.com/LSvNUnK"><img src="http://i.imgur.com/LSvNUnK.png" title="source: imgur.com" height="100"/></a>
        <p>User Stories In Progress</p>
        <ol>
            <li>Unordered List of Events on home page - Elyse (5 points)</li>
            <li>API Link - John (13 point)</li>   
            <li>Submission Validation - Team (8 points)</li>            
        </ol>
        <p>Product Backlog</p>
        <ol>
            <li>Clickable title link (3 points)</li>
            <li>Search via API (8 points)</li>
            <li>Event attributes (20 points)</li>
            <li>If valid, redirect (13 points)</li>
            <li>If not valid, list errors (8 points)</li>
            <li>RSVP via email (20 points)</li>
            <li>Redirect to events page if email valid (13 points)</li>
        </ol>
        <p>Note on story estimating: We assigned values to our user stories by averaging the estimated difficulty assigned by each member of the team on the Fibonacci sequence scale. We then rounded to the closest number on the scale. </p>
    </body>
</html>