{% extends "layout.html" %}

{% block mainContent %}
<!DOCTYPE html>

<style>
    
    h2{
       
  background-color: #eee;
  padding: 0.5em;
  border: 1px solid #ddd;
  margin:0.5em 0;
}
  h3{
  background-color: #edd;
  padding: 1em;
  
  border: 1px solid #ddd;
  margin:1em 0;
}   
</style>


<h1> Scrum Report week 1 </h1>

  <p>
      

<h2>What roles will you assume in your teams?</h2>
<h3>We will create 4 roles: 2 pure developers, 1 scrum master and developer, and 1 product owner, that ensures the team is prioritizing user stories effectively
</h3>
<h2>
How will you assign those roles?</h2>
<h3>
We will rotate through roles, starting with alphabetical: Kumar, Nikolova, Rouse, Vakilova, for 2 devs, 1 scrum master, and 1 product owner
</h3>
<h2>

What meetings do you plan to have? Please plan on using a variant of Scrum.</h2>

<h3>
            We plan to meet twice a week: Mondays, 2 pm and Fridays 4pm. We will use our Monday meeting to 
plan our sprint, and we will use our Thursday meeting to review our sprint and have a sprint 
retrospective. </h3>

<h2>


How will you decide when to have meetings?</h2>

<h3>
All of us will keep two hour-long slots on our calendars weekly and meet on-demand  basis. Scrum master of a specific week will eventually decide whether we need to meet. 
</h3>

<h2>
How long do you expect the project to take? </h2>

<h3>
We expect the project to take 1-2 hours of reading beforehand, and 4-6 hours of coding as a scrum team for each person, for each sprint. 

</h3>

<h2>
How will you divide up the work?</h2>
<h3>
The Product Owner will choose what work is a top priority, and the coders will choose at the beginning of the sprint, which parts of that they want to pursue. There will a formal facilitated discussion by the product owner to have the scrum team estimate the velocity, then the scrum team divides the work up, guessing what they can complete, and having each person sign up for a similar velocity.
</h3>

<h2>

What tools will you be using and for what purposes? Please include here development tools and also organizational tools, e.g. "we're using Google docs for ..."
</h2>

<h3>
We’re using node.js and express framework to host the HTML pages of our scrum reports.
We’re using our fingers to throw out fibonacci numbers for sprint point sizing.
We’re using github for organizing our different workstreams and accepting code into the master script.
We’re using heroku for hosting our website.
We’re using waffle.io to organize our stories and delegate responsibilities among team members. 
We’re using cloud9 to write our code.
Unless the instructor provides us with better tools, we will use Google Analytics to measure traffic and user behavior.
</h3>

<h2>
Please tell us if you plan to come to office hours </h2>

<h3>
Each team member will share his/her impediments with the Scrum Master. If we cannot solve 
the problem, we will visit office hours. Ettie will be visiting office hours at least once.
</h3>


  </p>
{% endblock %}