<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Spring-giant Sprint 6 Report</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Spring-Giant Team | Project Status Report: Sprint #6 | December 7, 2015</h1>
            <h2 style="text-align: center; font-size: 20px">Jeff McHugh (jeff.mchugh@yale.edu) | Megha Ghildyal (megha.ghildyal@yale.edu) | Lea Lupkin (lea.lupkin@yale.edu) | Jared MacLane (jared.maclane@yale.edu)</h2>
            <h4>Quick Snapshot: Where the Project Stands at the End of Sprint #6</h4>
            <p><b>What we’re doing: </b> Our team is creating a website that is an affordable alternative to Eventbrite. The site allows users to create new events and post them to the site. It also allows users to view upcoming events and RSVP to those that interest them, provided they have a Yale e-mail address. We launched our website on Yale’s campus and different Yale schools are using it. We analyzed the traffic through google analytics and are now conducting A/B test to improve certain features.<br><br>
              Our team completed the final functionality of the site and spent time improving the visual appeal of the site this sprint. With the analytics setup, we began implementing a/b testing of two site features. New/updated tests were added, and changes were made to ensure that all tests are now passing.  <br><br>Here is a  <a href="https://mgt656-spring-giant.herokuapp.com/">link</a> to the home page. We are progressing nicely toward wrap-up this week. You’ll notice that:<Br>
                  - All the pages are now in a ‘widescreen’ format instead of just a box in the middle of the page. We masked some of bootstrap’s formatting for this. <Br>
                  - The homepage and browse events page now lists events in a grid format. <Br>
                  - Almost all pages on the website have new background, font and button style. We used custom bootstrap button styles. <Br>
                  - Users apparently really like Breaking Bad. <Br>
                  - The donation button on <a href="https://mgt656-spring-giant.herokuapp.com/events/1">event details pages</a> is now successfully redirecting user to the basic donation page.<Br>
                  - <a href="https://analytics.google.com/analytics/web/?authuser=0#report/visitors-overview/a70405968w107634085p112131998/">Google Analytics</a> is still monitoring website traffic, with a specific eye towards:
                  <ul>
                    <ul>
                    <li>How our <a href="https://analytics.google.com/analytics/web/#report/visitors-flow/a70405968w107634085p112131998/">traffic</a> breaks down across different segments and how they flow through our "funnel" from landing to donation (figure 3)</li>
                    <li>Who are the different schools visiting our page through <a href ="https://analytics.google.com/analytics/web/#report/acquisition-channels/a70405968w107634085p112131998/%3F_r.drilldown%3Danalytics.trafficChannel%3AReferral/">referrals</a> and how many visitors we are getting from each school (figure 4)</li>
                    </ul>
                  </ul>
                  - The team worked on setting up two A/B tests:<br>
                  <ul>
                    <ul>
                      <li>The influence that including the text “RSVP” on the homepage has on event click-through rates. This test is running and we will have results by the end of the week included in the final report. (Initial results are captured in figure 7)</li>
                      <li>The second A/B test requested by the customer is close to being ready to launch.</li>
                    </ul>
                  </ul>
<br>
                  <b>Figure 1: New Homepage Design</b><br><img src="/images/s6i1.jpg" width="800" height="1000"></img><br><br>
                  <b>Figure 2: New Browse Events Design</b><br><img src="/images/s6i2.jpg" width="800" height="1000"></img><br><br>
                  <b>Figure 3: Re-Designed Create Events Form</b><br><img src="/images/s6i3.jpg" width="800" height="1000"></img><br><br>
                  <b>Figure 4: New Event Detail Page Design, including Donation link</b><br><img src="images/s6i4.jpg" width="800" height="1000"></img><br><br>
                  <b>Figure 5: Traffic Funnel for week Nov 30-Dec 6, via Google Analytics</b><br><img src="/images/s6i5.jpg" width="700" height="480"></img><br>
                  <i>We’re seeing much more activity on our website this week, however still no traffic to the donation page. It is possible that the donation button was not functioning properly (not redirecting users). We will work on figuring out this issue again this week.</i><br><br>
                  <b>Figure 6: Traffic Referrals for week Nov 30-Dec 6, via Google Analytics</b><br><img src="images/s6i6.jpg" width="700" height="480"></img><br><br>
                  <b>Figure 7: A/B Test for whether including the text “RSVP” on homepage increases click-through rates to Event Detail pages</b><br><img src="images/s6i7.PNG" width="700" height="480"></img><br><br>
                  <b>Burn Down Chart:</b><br><img src="/images/s6i8.jpg"></img><br>
                  <b>**Legend: Each red diamond marks the end of a sprint</b><br>
                  <i>Reminder: The burndown chart shows user stories, instead of user points.</i><br><br>
                  <h4>Sprint #6 Completed Stories</h4><img src="/images/s6i9.PNG"  width="500" height="500"></img>
                  <h4>Project Backlog</h4><img src="/images/s6i10.PNG"  width="500" height="300"></img><br><br>
                 <h4>Recap of the week’s sprint</h4>
                  Scrum meetings: <br>
                  - Tuesday, December 1<br>
                  - Wednesday, December 2<br><br>
                  The team met during class at our usual Tuesday time. In our Tuesday meeting we spent 25% of the time reviewing the previous week’s sprint. We devoted 65% of the time to flesh out and clarify our user stories for the week, reassess estimate time, and make assignments for the sprint. We spent the last 10% discussing the final report and wrap up of the project. For the past week, Megha was the scrum master and Lea was the product owner. <br><br>
                  The major tasks this week were 1) improving the style & formatting of the website for users and 2) implement the customer requested a/b tests. We intended to use Optimizely for the a/b tests, however discovered after setting up the experiments that Optimizely requires an account holder to enter credit card information, which the team was not comfortable with doing given the customer budget of $0. We switched focus to using Google Analytics instead. Using the suggested directions, we set up the first experiment to test the inclusion of RSVP on the homepage and its effect on increasing event detail click-through rate. We were not 100% sure that the a/b test was working properly. We also faced issues with setting up the a/b test for using the word donation vs. support on event detail pages. so we are checking with our technical experts (i.e. TAs) to ensure effective testing. We will include final a/b testing results in our final project report.<br><br>
                  <br>
                  
                  <h4>Focus for Wrap-up this week:</h4><br>
                  <img src="/images/s6i11.PNG"  width="500" height="300"></img><br><br>
                  </p>
      </div>
    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>