<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Title of report</h1>
            <h4>Basic Page</h4>
            <p>"@Yale.edu", "@yALe.edu", etc.). The error messages displayed should be in a ul with class="form-errors" in the same fashion as described in the event creation errors described. If I submit a valid email address, I see the event detail page
                again and it shows my email address on there along with the other attendees. As an attendee, I can visit the event detail page to see relevant information about the event. I can view the event title. Grading note: It should be in a h1
                element with the id title. I can view the event date. Grading note: It should be in a span tag with the id date. I can view the event location. Grading note: It should be in a span tag with the id location. I can see the event's image
                o</p>

            <h4>Basic Page</h4>
            
        </div>



    </div>

    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
