{% extends "layout.html" %}

{% block mainContent %}
    <!-- Header Section -->
    <!-- Intro Header -->
    <header class="introsprintreports">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">We are really fast!</h1>
                        <p class="intro-text">Check out our sprint reports:</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
        <!-- Sprint Report 1 -->
    <section id="sprintreport1" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><a href="https://docs.google.com/document/d/1DBU_J-LEO8vvIn94wX6jN6phSnNaSkDi5ldAzs-x-Q0/pub">Sprint Report 1</a></h2>
                <p>Our first shot at scrum: assiging roles, creating backlogs, and burning down some charts!</p>
            </div>
        </div>
    </section>

{% endblock %}
