{% extends "layout.html" %}

{% block mainContent %}
    <!-- Header Section -->
    <!-- Intro Header -->
    <header class="introsprintreports">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">We are really fast!</h1>
                        <p class="intro-text">Check out our sprint reports:</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
        <!-- Sprint Report 5 -->
    <section id="sprintreport5" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sprint Report 5</h2>
                <p>[insert content here]</p>
            </div>
        </div>
    </section>

{% endblock %}
