{% extends "layout.html" %}
<html>
  {% block header %}
  <header>
    <h1>{{ title }}</h1>
  </header>
{% endblock %}
<head>
<meta charset="utf-8">
<title>Scrum Noobs Status Report 2</title>
</head>
{% block mainContent %}
<body>
<strong id="docs-internal-guid-1b5b5e28-78a9-5b17-e3f7-5de5d5351d0f"></strong>
<p align="right" dir="ltr">Cong (cong.vu@yale.edu)</p>
<p align="right" dir="ltr">Burak (burak.bekaroglu@yale.edu)</p>
<div align="right">  Hikmetcan (Hikmetcan.Bilici@yale.edu)</div>
<p><br>
</p>
<p align="center" dir="ltr"><strong id="docs-internal-guid-1b5b5e28-78a9-b616-da4b-5cd65da40200">Scrum Noobs Coding Team</strong></p>
<p align="center" dir="ltr"><strong id="docs-internal-guid-1b5b5e28-78a9-b616-da4b-5cd65da40200">Project Status Report 2</strong></p>
<div align="center">
  <p>Feb 10th 2015</p>
  <p align="left"><u>Burn Down Chart for Sprint #2</u></p>
  <p align="left"><strong id="docs-internal-guid-1b5b5e28-78aa-449c-6493-4f84665e6303"><img src="https://lh4.googleusercontent.com/eMKYrzkbnHaZKMPHlYYLk912mlIjAzQIcEiKUJIDfU3KRpjz_8kUu7Q2gvSoG-wzr7ZLNN6NWi033MmHzvkxe5MfV0chXmai7pCJlUFFEt52X2zAXJJSLzZWICSyRNoMrJQ" width="481px;" height="289px;"/></strong></p>
  <p align="left" dir="ltr"><u>Sprint Completed Stories</u></p>
  <div align="left"></div>
  <ol>
    <li dir="ltr">
      <p align="left" dir="ltr">Bug FIX: Save Event/New Event Creation</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Add all the validators to the Event Creation page</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Drop down menu for create event page</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Add API</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Make API Searchable</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Add link to /about in the footer; add link to / in the footer</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Submit button for the create event page</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Add a list of events to the Homepage</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Build a form for creating new events</p>
    </li>
  </ol>
  <div align="left"><br>
  </div>
  <p align="left" dir="ltr">We spend most of our efforts working on Save Event/New Event Creation &nbsp;which had highest points. We added bootstraps and finalized Event Creation page. </p>
  <div align="left"><br>
    <br>
  </div>
  <p align="left" dir="ltr"><u>Product Backlog</u></p>
  <div align="left"></div>
  <ol>
    <li dir="ltr">
      <p align="left" dir="ltr">Make the website more user friendly</p>
    </li>
        <li dir="ltr">
      <p align="left" dir="ltr">Add Google Analytics</p>
    </li>
    <li dir="ltr">
      <p align="left" dir="ltr">Add &quot;RSVP&quot; text into the event name field on the home page</p>
    </li>
  </ol>
  <div align="left"><br>
  </div>
  <p align="left" dir="ltr">After getting acquainted with the tools in the first sprint, we have done majority of our stories in this sprint. Some team members are still having trouble with the Cloud9 and git interfaces. </p>
  <div align="left"><br>
  </div>
  <p align="left" dir="ltr"><u>Blueprint for Sprint #3</u></p>
  <div align="left"><br>
  </div>
  <p align="left" dir="ltr">We hope to work on the functionality of the website prior to making any design changes as we believe that functionality brings more value to the end user. Once we check whether we need to add any more functional user stories (including Analytics and RSVP curve balls), we will then be focusing on the user-friendliness of the site.</p>
  <div align="left"><br>
  </div>
  <p align="left">&nbsp;</p>
</div>
</body>
</html>
{% endblock %}