{% extends "layout.html" %}

{% block header %}
<head>
<meta charset="utf-8">
<title>Scrum Noobs Weekly Report 1</title>
</head>
{% endblock %}
{% block mainContent %}

<p align="right">Cong (cong.vu@yale.edu)</p>
<p align="right">Burak (burak.bekaroglu@yale.edu)</p>
<p align="right">Hikmetcan (Hikmetcan.Bilici@yale.edu)</p>
<p align="center"><strong>Scrum Noobs Coding Team</strong></p>
<p align="center"><strong>Project Status Report</strong></p>
<p align="center">Feb 3rd 2015</p>
<p><u>Burn Down Chart</u></p>
<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <blockquote>
                <p><img src="image00.png" alt="" width="481" height="289" align="middle"/></p>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
<p><u>Sprint Completed Stories</u></p>
<ul>
  <li>    Set up workspaces (Forked code, share 9cloud, deploy heroku)</li>
  <li>Add logo to the homepage</li>
  <li>Created an /about page</li>
  <li>Build a form for creating events</li>
  <li>Add a link to home and about page in the footer of every page</li>
</ul>
<p>Day 1</p>
<p>We spent our first meeting setting up the workspace for every member including forking code from github, sharing 9cloud and deploying heroku. We got into a tangle with how to push branch to github which is hopefully will be solved following the release of the instructional videos.</p>
<p>Issues: ….</p>
<p>We decided to divide the stories between ourselves. The chosen stories include: create an /about page, add bootstrap to every page, add logo to the homepage</p>
<p>Day 2</p>
<p>One of our member completed the about page. We have started leveraging the waffle platform to keep track of assignments and work-in-processes. The current WIP&rsquo;s are as follows and we hope to finish the assigned WIP&rsquo;s by the end of this week.</p>
<p> </p>
<p><u>Work-in-process</u></p>
<ol start="1">
  <li>Adding a time tag for each event</li>
  <li>Adding a link for each event</li>
  <li>Add a list of events to the homepage</li>
  <li>Add bootstrap to all pages</li>
</ol>
<p> </p>
<p>For our first sprint we picked relatively easy user stories while we acquainted ourselves with our development environment and worked out initial glitches. On our next sprint, however, we will go through the product backlog and choose the most immediate feature that has the most added value to our customer.</p>

{% endblock %}