{% extends "layout.html" %}

{% block mainContent %}
  <h1>Weekly Status Report</h1>
  <p></p>
  <h2>Sprint Completed Stories</h2>
  <p>&#10003  Infrastructure of our application, including Github, Heroku, Waffle</p>
  <p>&#10003  Separate html report page</p>
  <p>Note: We experienced a small roadblock when setting up Waffle, as we didn’t enable issues on Github. We talked to the Waffle community and were able to resolve the issue. </p>
</ul>
  <h2>Backlog</h2>
  <li>Logo and name (Yoni to lead)</li>
  <li>About section (Elaine to lead)</li>
  <li>API infrastructure</li>
  <li>API functionality</li>
<p>Note: We haven’t determined the exact contents of our next sprint, and we will be focusing now until the next sprint on the first two items. Team members will take the tutorials on project website on their own in order to decompose the tasks in the next standup meeting.
</p>
  
  
  
  
  
  

{% endblock %}
