{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Lively Spectrum Coding Team says hello Kyle and Miles</h1>
  </header>
{% endblock %}

{% block mainContent %}
Yonatan Landau(ylandau1@gmail.com)
 <p></p>
Eric Plunkett(eric.plunkett@yale.edu)
 <p></p>
Elaine Pan(elaine.pan@yale.edu)
 <p></p>

 <p></p>
 <h1>Weekly Status Report</h1>
 <p></p>
Date created: 2/11/15
 <p></p>
Sprint Completed Stories:
 <p></p>
  <p>&#10003 Added API </p>
  <p>&#10003 API searcheable</p>
  <p>&#10003 CSS Bootstrap added to all pages</p>
  <p>&#10003 Created new events page</p>
  <p>&#10003 Added all remaining fields for new events pages</p>
  <p>&#10003 Added unordered list of events</p>
  <p>&#10003 Added Team logo</p>
  <p>&#10003 Added About us (picture+name)</p>

<h2>Work completed</h2>
Eric has been trying to finish other stories related to events, and at the same time trying to understand what was wrong with the update not showing up on Heroku. Elaine has added in pictures and texts on the about us page and homepage, but having problem merging branch to master, and updating to heroku either. The two of us will go through the relevant tutorial once more and fix the gulp/mocha function before the weekend so that we can work more on the other core stories.

Yoni produced a name “Evently” and a logo to be included on our home page. Yoni also made the API and made it searchable by following the tutorials (very closely). He also added bootstrap CSS to all pages (again by following the tutorial very closely).  Yoni has also been trying to help Elaine and Eric figure out their github challenges, with varying degrees of success.

<h2>Burndown Chart</h2>



<p>The green trend line shows the expected story points burndown, while the yellow line shows the actual points finished. We are behind our expectations as we struggled through the merge issue. We are expecting to get back on track by the end of the week.</p>


<h2>Backlog: </h2>
<li>Make each event have a ‘time’tag with datetime’attritbute</li>
<li>Hide events that are over on the home page</li>
<li>Add a submit button to the new event creation form</li>
<li>Add form validation for new event creation</li>
<li>Redirect users that submit valid events</li>
<li>Show errors when form validation fails</li>
<li>Add validation to attendee registration form</li>
<li>Redirect users to submit valid registration to an event</li>

<h2>Work to be done next</h2>

<p>Eric will continue his work on event detail page/create new event page-make each event clickable title, etc; Once fix the push problem, Elaine will focus on new event page/RSVP-add attendee registration form; Yoni will take a lead in making the website actually look good by further editing CSS.</p>
  
  
  
  
  

{% endblock %}
