body{
  font-family: 'Montserrat', sans-serif; 
  color: blue;
  font-size: 14px;
}
.homepage{
  background: url("https://yale.app.box.com/representation/file_version_44738248445/image_2048/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.welcome{
  background-color:white;
}
h1 {
  font-size: 55px;
  font-weight: bold;
}
img {
  margin: 0px 0px 0px 0px;
  border: 0px solid white;
  border-radius: 0px;
  position: fixed;
    top: 0;
    left: 0;
}

header {
  text-align: center;
  color: white;
  font-family: 'PT Sans', sans-serif;
}
p.add-to-mailing-list {
  color:white;
}


.myButton {
	background-color:#ff4400;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	display:inline-block;
	color:white;
	font-family:Helvetica;
	font-size:17px;
	padding:14px 30px;
}

.myButton hover {
  background-color:#ff3300;
  color:white;
}


body {
  text-align: center;
      color: black;
      font-family:'Montserrat', sans-serif;; 
  padding: 50px;
}
ul.menu {
  padding: 10px;
}
ul.menu li {
  display: inline;
  padding: 0px 20px 0px 20px;
}
ul.menu li a{
  color: white;
}
p {
      font-size: 12px;
      color: black;
    }
    
a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}