
.carousel .item {
  height: 600px;
}
body {
  
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
}

.container-fluid{
      padding: 0;
      margin:0;
  }
a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}


#menu{
  position:relative;
  margin:0;
  padding: 0;
  display:inline-block;  
  background-color: #e2e2e2;
  width:100%;
  height: 60px;
}

.menu-left{
float:left;
}
.menu-right li{
  padding: 15px;
  float:right;
  padding-right:1px;
  padding: 15px;
  list-style-type :none;
  height: 57px;
  background-color:#e2e2e2;
}
.menu-right li a {
  color:#1285ff;
}

.menu-right li:hover{
  background-color:#e6e6fa;
}  
#about-us-list {
  padding: 10px;
  height :500px;
  margin-left: 8%;

}

#about-us-list li {
  padding: 10px;
  float: left;
  width: 250px;
  height:500px;
  list-style-type:none;
}

#about-us-list img {
  width: 250px;
  height: 250px;
  padding: 5px;   
  border-radius: 50%;
}

#footer {
/*margin-left: 20%;*/
text-align: center;
padding:5%;
}

.meet-team {
  text-align: center;
}

.outer {
  margin-left: 5%;
}

.outer li {
  display:inline;
}

.vision {
  position:relative;
}

.vision-statement {
  position: absolute;
  width: 400px;
  top: -160px;
  left: 14%;
  transform: translate(0, -500);
  color: white;
  text-align: center;
  font-size: 250%;
 /*width:200px;
  height:100px;*/
/*}*/}

.vision-statement h1 {
  font-size: 200%;
}

.vision-statement p {
  font-size: 75%;
}

.mission {
  position:relative;
}

.mission-statement {
  position: absolute;
  width: 400px;
  top: -160px;
  right: 18%;
  color: white;
  text-align: center;
  font-size: 250%;
 /*width:200px;
  height:100px;*/
/*}*/}

.mission-statement h1 {
  font-size: 200%;
}

.outer1{
  position: relative;
  /*left:10%;
  top:10%;*/
  float: left;
}

.Art {
  position:absolute;
  top:10px;
 /* top:70%;
  left: 50%;*/
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer2{
  position: relative;
 left:10%;
  top:10%;
}

.Business {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer3{
  position: relative;
  left:10%;
  top:10%;
}

.Concert {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer4{
  position: relative;
  left:20%;
  top:20%;
}

.Entrepreneur {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer5{
  position: relative;
  left:20%;
  top:20%;
}

.Food {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer6{
  position: relative;
  left:20%;
  top:20%;
}

.Gaming {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer7{
  position: relative;
  left:30%;
  top:30%;
}

.Party {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer8{
  position: relative;
  left:30%;
  top:30%;
}

.Running {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
 /*width:200px;
  height:100px;*/
}

.outer9{
  position: relative;
  left:30%;
  top:30%;
}

.Wood {
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
 /*width:200px;
  height:100px;*/

.mission-statement p {
  font-size: 75%;
}

h1 {  
  text-transform: uppercase;
  font-size: 3rem;
  white-space: nowrap;
}
p {
  padding:10px;
  font-size: 1.5rem;
}


.index-event-id {
  position: relative;
  margin: 10px auto;
  background-color: rgba(211,211,211, 0.4);
  padding: 10px;
  border-radius: 15px; 
  max-width: 800px;
  font: bold;
}

.index-event-info-name {
  font-size: 20px;
  float: left;
}

.index-event-info-time {
  float: right;
}

.index-event-detail {
 display: none;
}



.list-event-name a{
  text-decoration: underline;
  text-align:center; 
  margin-left: 20%;
  color:white;
  font-size: 25px;
   background-color: rgba(211,211,211,0.7);
    border-radius: 4em;
    padding:7px;
}
.list-event-time{
  float:right;
  color:white;
  font-size: 20px;
   background-color: rgba(211,211,211,0.7);
    border-radius: 4em;
        padding:7px;

}
.list-event-detail{
  margin-left: 10px;
  float:left;
  color:white;
  font-size: 20px;
   background-color: rgba(211,211,211,0.7);
    border-radius: 4em;
        padding:7px;

  
}


.list-event-image {
  padding-top: 5px;
}

.event-detail-page {
  font-size: 20px;
  color: white;
  margin: 10px auto;
  max-width: 1000px;
  position: relative;
  background-color: rgba(130,130,130,1);
  border-style: solid;
  border-width: 3px;
  border-color: rgba(211, 211,211, 0.2);
  border-radius: 15px;
}


.event-detail-page h1 {
  font-size: 30px;
}
   li {
   list-style-type: none; 
}

.event-detail-page img {
  width: 100%;
}





.event-detail-page form {
  position: relative;
  padding: 25px 0px 5px 360px ;
  width: 100%;
}
