body {
  padding: 50px;
}

h1 {
  padding-bottom: 10px;
}

a {
  color: #337ab7;
}

ul {
   list-style: none;
   padding: 0;
}

.form-errors {
	color: red;
}

footer{
  background-color: none;
  padding: none;
  border: none;
  margin: none;
}