body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}



 header {
    float: left;
    margin:0 0 0 0;
    padding: 0 0 0 0 ;
    width: 100%;
    height: 300px;
    background-image:url('http://www.planwallpaper.com/static/images/1619726.jpg');
    color: white;
    text-align: center;
    img-align: left;
  }
  
  
  footer {
    float: left;
    margin:0 0 30px 0;
    padding: 5px 0 0 0 ;
    width: 100%;
    height: 100px;
    background-image:url('http://www.planwallpaper.com/static/images/7006082-black-pattern-background-14095.jpg');
    color: white;
  }
  
  .navigation {
  
  height: auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width:100%;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}
 
 .navnav{
   text-align: center;
 }
 
 .navnav li{
   color: #666666;
   display: inline-block;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  
 }