body {
  padding: 0px;
  font: 50px Helvetica, Arial, sans-serif;
}
h1 {
  text-indent: 20px;
}

h2 {
  text-indent: 20px;
}


h3 {
  text-indent: 20px;
}
img {
    max-width: 100%;
    height: auto;
}


#banner {
    background:url('https://image.freepik.com/free-vector/silhouettes-of-people-dancing_1048-620.jpg');
    position: relative;
    width:100%;
    min-height:200px;
}

.floatdown {
    position: absolute;
    top: 0px;
    left: 40px;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}