	html { 
	  background-color:rgba(132,196,217,1); 
	  background:#daede2; padding:5%; 
	}

	body header {
		background-color:rgba(132,196,217,1); 
	  color:#fff; 
	  display:inline-block; 
	  margin-bottom:1em; 
	  padding:1em 5%; width:50%; 
		}

  footer { 
    background:rgba(246,247,146,1); 
    clear:both; 
    color:#fff; 
    padding:1em 5%; width:50%; 
  }
	
	footer a { 
	  margin-right:0.5em; 
	}