header{
  font-family:garamond;
  color: #FFFFF0 !important;
}

p{
  font-family:garamond;
  padding: 15px;
  font-size:110%;
  color: #FFFFF0 !important;
}

span{
  padding:10px;
}

img{
  padding-bottom:10px;
}


li {
    list-style-type: none;
    display: inline;
    padding:20px;
}

ul{
  background:#000000 !important;
  padding: 20px;
}

body {
  padding: 50px;
  font: 14px;
  text-align: center;
  background-color:#2F4F4F !important;
}

a {
 
  font-weight: bolder;
  font-family: garamond;
  color: #FFD700 !important;
}

.form-errors {
	color: red;
}

footer{
  background-color: #000000;
  border: solid;
}

