body {
  padding: 50px;
}

.form-errors {
	color: red;
}

img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
  border: none;
}

footer {
  background-color: #eee;
  padding: 1em;
  border: 1px solid #ddd;
  margin: 2em 0;
}

span.header {
  display: inline-block;
}

.aboutphoto {
  display: inline-block;
}

.image-caption {
  text-align: center;
}

.navbar-default .navbar-brand {
    color: #337ab7;
}

.nav.navbar-nav li a {
    color: #337ab7;
}

.header {
  text-align: left;
  width: 100%;
  background-color: #eee;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
 
.header-logo {
  float: left;
  margin-left: 8px;
  padding: 5px;
}

.event-detail {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 10px;
  margin: 8px;
  width: 50%;
  border-radius: 5px;
}