<script>
$(document).ready(function() {
   $(".index-event-id").hover(function() {
    $(this).children(".index-event-detail").toggle();
    });
});
$(document).ready(function() {
   $(".index-event-id").on(function() {
    $(this).style.color= "red";
    });
});
</script>

<ul>
    
  {% for event in events %}

  
    <li class="event" id="event-{{event.id}}">
    <div class="index-event-id" id="event-{{event.id}}" >
      <div class="index-event-info" id="event-{{event.id}}">
         <span class="index-event-info-name"><a href="/events/{{event.id}}">{{event.title}}.</a></span>
         <span class="index-event-info-time"><time datetime="{{event.date}}">{{event.date|prettyDate}}</time></span>
      </div>

    <br>
    
    <div class="index-event-detail" id="event-{{event.id}}">
         <br><span class="location">{{event.location}}</span>
         <br><span class="attendance">{{event.attending.length}} attending so far.</span></br>
         <img src="{{event.image}}" id="image">
    </div>

    </br> 
    
    </div>
    </li>
    
  {% endfor %}
</ul>

